<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- ======= css for rehomes tmp -->







    <!-- ======= css for rehomes tmp -->
    <link rel="stylesheet" href="/explorer/rehomes/style.css">

    <!-- ==END===== css for rehomes tmp -->
    <!-- ======Adventureer start css -->
    <link rel="stylesheet" href="/explorer/adventure/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/explorer/adventure/css/animate.css">

    <link rel="stylesheet" href="/explorer/adventure/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/explorer/adventure/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/explorer/adventure/css/magnific-popup.css">

    <link rel="stylesheet" href="/explorer/adventure/css/aos.css">

    <link rel="stylesheet" href="/explorer/adventure/css/ionicons.min.css">

    <link rel="stylesheet" href="/explorer/adventure/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/explorer/adventure/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/explorer/adventure/css/flaticon.css">
    <link rel="stylesheet" href="/explorer/adventure/css/icomoon.css">
    <link rel="stylesheet" href="/explorer/adventure/css/style.css">
    <!-- ========Adenturee End css -->

    <!-- ======== css for educator tmp -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css"> -->
    <link rel="stylesheet" href="/explorer/educature/css/linearicons.css">
    <link rel="stylesheet" href="/explorer/educature/css/font-awesome.min.css">
    <link rel="stylesheet" href="/explorer/educature/css/bootstrap.css">
    <link rel="stylesheet" href="/explorer/educature/css/magnific-popup.css">
    <link rel="stylesheet" href="/explorer/educature/css/nice-select.css">
    <link rel="stylesheet" href="/explorer/educature/css/animate.min.css">
    <link rel="stylesheet" href="/explorer/educature/css/owl.carousel.css">
    <link rel="stylesheet" href="/explorer/educature/css/main.css">
    <link rel="stylesheet" href="/explorer/indexCSS.css">
    <!-- ==END====== css for educator tmp -->




    <title>Recruitment</title>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <style>
        .section-heading h2 span {
            color: #f9f9ff;
        }
        
        copywrite-text p a {
            color: #f9f9ff;
            font-size: 16px;
        }
        
        .about-right h1 {
            font-size: 25px;
        }
        
        .single-property-area .property-desc-area .property-title-seller .property-title p i {
            font-size: 16px;
            color: #f9f9ff;
        }
        
        .single-property-area .property-desc-area .property-info-area p {
            /* -webkit-box-flex: 0; */
            /* -ms-flex: 0 0 50%; */
            /* flex: 0 0 50%; */
            max-width: 100%;
            width: 100%;
            margin-bottom: 10px;
            color: #afb4bf;
        }
    </style>


    <!-- **** Header Area Start **** -->
    <!-- Start Header Area -->
    <header id="header">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <!-- <a href="index.html"><img src="images/panapa-icons/logo14.png" alt="panoapa" title="" /></a> -->
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">

                        <li class="menu-active"><a href="/">Home</a></li>
                       
                        <li><a href="/">Login</a></li>
                       
                        <li><a href="/recruitform">Recruitment Form</a></li>

                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- End Header Area -->
    <!-- **** Header Area End **** -->

    <!-- Start Banner Area -->
    <section class="home-banner-area relative">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-8 col-md-12">
                    <h1 class="wow fadeIn" data-wow-duration="4s"> Ministry of Health Recruitment Portal </h1>
                    <!-- <p>
                        Welcome, Our Health Depends On You!
                    </p> -->

                     <div >
                        <form action="/explore" method="GET" class="form-box d-flex justify-content-between">
                            
                            <!-- <button type="submit" class="btn search-btn">Apply</button> -->

                        </form> 

                       
                    </div>
                    <h3 class="orange-text">Choose The Field You Would Like To Apply For</h3>

                    <div class="courses pt-20">
                        <a href="/recruitform?position=Nurse" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Nurse</a>
                        <a href="/recruitform?position=Docter" data-wow-duration="1s" data-wow-delay=".6s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Doctor</a>
                        <a href="/recruitform?position=Pharmacy Technician" data-wow-duration="1s" data-wow-delay=".9s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Pharmacy Technician</a>
                        <a href="/recruitform?position=Therapist" data-wow-duration="1s" data-wow-delay="1.2s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Therapist</a>
                        <a href="/recruitform?position=Physician" data-wow-duration="1s" data-wow-delay="1.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Physician</a>
                        <a href="/recruitform?position=Nursing Assistant" data-wow-duration="1s" data-wow-delay="1.8s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Nursing Assistant</a>
                        <a href="/recruitform?position=Medical Assistant" data-wow-duration="1s" data-wow-delay="2.1s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Medical Assistant</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End Banner Area -->


























    <style>
        .copywrite-text p a {
            color: #f9f9ff;
            font-size: 16px;
        }
    </style>


    <!-- footer content -->
    <footer>
        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <div class="copywrite-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This Web App was made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Tino Mazhakata</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                    <!-- Footer Menu -->
                    <div class="col-12 col-sm-6">
                        <div class="footer-menu">
                            <ul class="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/panapa-login">Login</a></li>
                                

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->




    <!-- ======= JS for rehomes tmp -->
    <script src="/explorer/rehomes/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="/explorer/rehomes/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/explorer/rehomes/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="/explorer/rehomes/js/rehomes.bundle.js"></script>
    <!-- Active -->
    <script src="/explorer/rehomes/js/default-assets/active.js"></script>
    <!-- ======= End - JS for rehomes tmp -->



    <!-- ======Adventureer start JS -->
    <script src="/explorer/adventure/js/jquery.min.js"></script>
    <script src="/explorer/adventure/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/explorer/adventure/js/popper.min.js"></script>
    <script src="/explorer/adventure/js/bootstrap.min.js"></script>
    <script src="/explorer/adventure/js/jquery.easing.1.3.js"></script>
    <script src="/explorer/js/jquery.waypoints.min.js"></script>
    <script src="/explorer/adventure/js/jquery.stellar.min.js"></script>
    <script src="/explorer/adventure/js/owl.carousel.min.js"></script>
    <script src="/explorer/adventure/js/jquery.magnific-popup.min.js"></script>
    <script src="/explorer/js/aos.js"></script>
    <script src="/explorer/adventure/js/jquery.animateNumber.min.js"></script>
    <script src="/explorer/adventure/js/bootstrap-datepicker.js"></script>
    <script src="/explorer/adventure/js/jquery.timepicker.min.js"></script>
    <script src="/explorer/adventure/js/scrollax.min.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
    <script src="/explorer/adventure/js/google-map.js"></script>
    <script src="/explorer/adventure/js/main.js"></script>
    <!-- ========Adenturee End JS -->






    <!-- ======= start - JS for educator tmp -->

    <!-- <script src="js/vendor/jquery-2.2.4.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script> -->
    <script src="/explorer/educature/js/vendor/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script> -->
    <script src="/explorer/educature/js/easing.min.js"></script>
    <script src="/explorer/educature/js/hoverIntent.js"></script>
    <script src="/explorer/educature/js/superfish.min.js"></script>
    <script src="/explorer/educature/js/jquery.ajaxchimp.min.js"></script>
    <script src="/explorer/educature/js/jquery.magnific-popup.min.js"></script>
    <script src="/explorer/educature/js/owl.carousel.min.js"></script>
    <script src="/explorer/educature/js/owl-carousel-thumb.min.js"></script>
    <script src="/explorer/educature/js/jquery.sticky.js"></script>
    <script src="/explorer/educature/js/jquery.nice-select.min.js"></script>
    <script src="/explorer/educature/js/parallax.min.js"></script>
    <script src="/explorer/educature/js/waypoints.min.js"></script>
    <script src="/explorer/educature/js/wow.min.js"></script>
    <script src="/explorer/educature/js/jquery.counterup.min.js"></script>
    <script src="/explorer/educature/js/mail-script.js"></script>
    <script src="/explorer/educature/js/main.js"></script>
    <script src="/explorer/educature/js/livepage.js"></script>
    <!-- ======= End - JS for educator tmp -->









</body>

</html>